[Desktop Entry]
Exec=isoftapp_systray
Name=iSoftAppSysTray
Name[ca]=iSoftAppSysTray
Name[ca@valencia]=iSoftAppSysTray
Name[cs]=iSoftAppSysTray
Name[da]=iSoftAppSysTray
Name[de]=iSoftAppSysTray
Name[el]=iSoftAppSysTray
Name[en_GB]=iSoftAppSysTray
Name[es]=iSoftAppSysTray
Name[fi]=iSoftAppSysTray
Name[fr]=iSoftAppSysTray
Name[gl]=iSoftAppSysTray
Name[hu]=iSoftAppSysTray
Name[id]=iSoftAppSysTray
Name[it]=iSoftAppSysTray
Name[ja]=iSoftAppSysTray
Name[ko]=iSoftAppSysTray
Name[lt]=iSoftAppSysTray
Name[nb]=iSoftAppSysTray
Name[nds]=iSoftAppSysTray
Name[nl]=iSoftAppSysTray
Name[nn]=iSoftAppSysTray
Name[pl]=iSoftAppSysTray
Name[pt]=iSoftAppSysTray
Name[pt_BR]=iSoftAppSysTray
Name[ru]=iSoftAppSysTray
Name[sk]=iSoftAppSysTray
Name[sl]=iSoftAppSysTray
Name[tr]=iSoftAppSysTray
Name[uk]=iSoftAppSysTray
Name[zh_CN]=iSoftAppSysTray
Name[zh_TW]=iSoftAppSysTray
Type=Application
X-KDE-StartupNotify=false
X-KDE-autostart-phase=0
