[Desktop Entry]
Categories=System;
Comment[zh_CN]=普华桌面软件管家
Comment=iSoft Center
Exec=qjade
GenericName[zh_CN]=普华桌面软件管家
GenericName=iSoft Center
Icon=isoft
MimeType=
Name[zh_CN]=普华桌面软件管家
Name=iSoft Center
Path=
StartupNotify=false
Terminal=false
TerminalOptions=
Type=Application
X-DBUS-ServiceName=
X-DBUS-StartupType=
X-KDE-SubstituteUID=false
X-KDE-Username=
